{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>

    <div class="intro">{{ page.intro|richtext }}</div>

    {% if request.GET.tag|length %}
        <h4>Showing pages tagged "{{ request.GET.tag }}"</h4>
    {% endif %}

    {% for post in blog_entries %}
        <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
        <i>{{ post.specific.intro }}</i>
        {% filter truncatewords_html:30 %}
            {{ post.specific.body|richtext }}
        {% endfilter %}
    {% endfor %}

    {% if request.GET.tag|length %}
        <p><a href="{% pageurl page %}">Return to blog index</a></p>
    {% endif %}

{% endblock %}